cssres

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Base Styles */

* {
    box-sizing: border-box;
    font-size: 20px;
}


/* Header */


/* Hero */
.hero {
    display: flex;
    flex-direction: column;
}

h1 {
    order: 1;
    font-size: 25pt;
    margin: 15px;
}

h2 {
    order: 2;
    font-size: 18pt;
    margin: 15px;
}

form {
    order: 3;
    margin: 15px;
}

img {
    order: 4;
    max-width: 50%;
    min-width: 25%;
}

#postcode {
    border: solid grey 1px;
    padding: 20px;
}

button {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(42, 253, 128);
    border: 2px solid rgb(42, 253, 128);
    cursor: pointer;
    padding: 0 2.5rem;
    min-height: 2.875rem;
    font-size: 1rem;
}

/* Endorsments */


/* Reviews */


/* About-us */


/* Guides */


/* Footer */